{% extends "base.html" %}

{% block title %}County Services Directory — Templeton County{% endblock %}

{% block content %}
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td bgcolor="#003366" width="5">&nbsp;</td>
    <td bgcolor="#003366">
      <font face="Times New Roman, Times, serif" color="#ffcc00" size="5">
        &nbsp;<b>County Services Directory</b>
      </font>
    </td>
    <td bgcolor="#003366" align="right">
      <font face="Arial" color="#99aacc" size="1">
        &nbsp;Home&nbsp;&gt;&nbsp;Services&nbsp;&gt;&nbsp;Directory&nbsp;&nbsp;
      </font>
    </td>
  </tr>
</table>
<br>

<table width="100%" border="2" cellpadding="10" cellspacing="0"
       bordercolor="#336699" bgcolor="#f0f4ff">
  <tr bgcolor="#003366">
    <td>
      <font face="Arial" color="#ffffff" size="2">
        <b>&#128196;&nbsp; CURRENT COUNTY SERVICES DIRECTORY &mdash; MARCH 2026</b>
        &nbsp;&nbsp;
        <font color="#ffcc00" size="1">
          <b>&#9733; UPDATED &#9733;</b>
        </font>
      </font>
    </td>
  </tr>
  <tr>
    <td>
      <font face="Arial" size="2">
        The comprehensive Templeton County Services Directory has been updated for
        <b>March 2026</b>. This edition includes updated contact information for all
        county departments, revised program descriptions, and new listings for recently
        added community services.<br><br>

        <table border="1" cellpadding="8" cellspacing="0" bordercolor="#336699" width="90%">
          <tr bgcolor="#336699">
            <td width="60%">
              <font face="Arial" color="#ffffff" size="2"><b>Document</b></font>
            </td>
            <td width="20%" align="center">
              <font face="Arial" color="#ffffff" size="2"><b>Format</b></font>
            </td>
            <td width="20%" align="center">
              <font face="Arial" color="#ffffff" size="2"><b>Size</b></font>
            </td>
          </tr>
          <tr bgcolor="#fffff0">
            <td>
              <font face="Arial" size="2">
                <b>
                  <a href="http://templetoncounty.gov/documents/county-services-2026-03.pdf">
                    County Services Directory &mdash; March 2026
                  </a>
                </b>
                <br>
                <font size="1" color="#666666">
                  Complete listing of all Templeton County programs and services.
                  Includes department contacts, hours, and eligibility requirements.
                </font>
              </font>
            </td>
            <td align="center">
              <font face="Arial" size="2">PDF</font>
            </td>
            <td align="center">
              <font face="Arial" size="2">1.4 MB</font>
            </td>
          </tr>
        </table>

        <br>
        <font size="1" color="#888888">
          <i>Requires Adobe Acrobat Reader 4.0 or later.
          <a href="{{ link('/help/plugins') }}">Download free reader here.</a></i>
        </font>
      </font>
    </td>
  </tr>
</table>

<br>

<table width="100%" border="1" cellpadding="8" cellspacing="0" bordercolor="#cccccc" bgcolor="#fffff8">
  <tr bgcolor="#996600">
    <td>
      <font face="Arial" color="#ffffff" size="2"><b>&#9658; DIRECTORY CONTENTS</b></font>
    </td>
  </tr>
  <tr>
    <td>
      <font face="Arial" size="2">
        The County Services Directory includes listings for the following departments
        and program areas:<br><br>
        <table border="0" cellpadding="2" cellspacing="0" width="100%">
          <tr>
            <td width="50%" valign="top">
              <font face="Arial" size="2">
                &bull; County Clerk's Office<br>
                &bull; Community Services<br>
                &bull; Public Works<br>
                &bull; Planning &amp; Zoning<br>
                &bull; Finance Department
              </font>
            </td>
            <td width="50%" valign="top">
              <font face="Arial" size="2">
                &bull; Animal Services<br>
                &bull; Health &amp; Human Services<br>
                &bull; Sheriff's Office<br>
                &bull; Parks &amp; Recreation<br>
                &bull; Senior Services
              </font>
            </td>
          </tr>
        </table>
      </font>
    </td>
  </tr>
</table>

<br>
<table width="100%" border="1" cellpadding="6" cellspacing="0" bordercolor="#cccccc" bgcolor="#f8f8f0">
  <tr>
    <td>
      <font face="Arial" size="1" color="#666666">
        <b>Previous editions:</b>
        The November 2024 edition has been superseded by this document and is no longer
        the official reference. Please ensure you are using the March 2026 edition for
        current program information.
      </font>
    </td>
  </tr>
</table>

<br>
<hr size="1" color="#999999" noshade>
<font face="Arial" size="1" color="#888888">
  <i>Community Services Dept. &mdash; services@templetoncounty.gov &mdash; Last updated: March 2003</i>
</font>
{% endblock %}
