{% extends "base.html" %}

{% block title %}Budget &amp; Finance Committee Agendas — Templeton County{% endblock %}

{% block content %}
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td bgcolor="#003366" width="5">&nbsp;</td>
    <td bgcolor="#003366">
      <font face="Times New Roman, Times, serif" color="#ffcc00" size="5">
        &nbsp;<b>Budget &amp; Finance Committee</b>
      </font>
    </td>
    <td bgcolor="#003366" align="right">
      <font face="Arial" color="#99aacc" size="1">
        &nbsp;Home&nbsp;&gt;&nbsp;Committees&nbsp;&gt;&nbsp;Budget&nbsp;&nbsp;
      </font>
    </td>
  </tr>
</table>
<br>

<table width="100%" border="1" cellpadding="10" cellspacing="0" bordercolor="#cccccc">
  <tr bgcolor="#663300">
    <td>
      <font face="Arial" color="#ffffff" size="2"><b>&#128196; BUDGET &amp; FINANCE COMMITTEE AGENDAS</b></font>
    </td>
  </tr>
  <tr bgcolor="#fff8e8">
    <td>
      <font face="Arial" size="2">
        The Budget &amp; Finance Committee reviews the county's annual budget proposal,
        quarterly financial reports, and expenditure variances. This committee reports
        to the Board of Supervisors.<br><br>

        <b>Meeting schedule:</b> Second Monday of each month, 2:00 PM<br>
        <b>Location:</b> County Administration Building, Conference Room B<br><br>

        <font color="#888888"><i>No agendas are currently posted for this committee.
        Please check back or contact the Finance Department at (555) 800-3300.</i></font>
      </font>
    </td>
  </tr>
</table>

<br>
<font face="Arial" size="2">
  <a href="{{ link('/committees/planning/agendas') }}">&laquo; Planning Commission Agendas</a>
  &nbsp;|&nbsp;
  <a href="{{ link('/finance/budget-summary') }}">FY2026 Budget Summary</a>
</font>

<br><br>
<hr size="1" color="#999999" noshade>
<font face="Arial" size="1" color="#888888">
  <i>Finance Department &mdash; finance@templetoncounty.gov</i>
</font>
{% endblock %}
