{% extends "base.html" %}

{% block title %}County Services Directory (November 2024) — Templeton County{% endblock %}

{% block content %}
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td bgcolor="#003366" width="5">&nbsp;</td>
    <td bgcolor="#003366">
      <font face="Times New Roman, Times, serif" color="#ffcc00" size="5">
        &nbsp;<b>County Services Directory</b>
      </font>
    </td>
    <td bgcolor="#003366" align="right">
      <font face="Arial" color="#99aacc" size="1">
        &nbsp;Home&nbsp;&gt;&nbsp;Services&nbsp;&gt;&nbsp;Directory&nbsp;&nbsp;
      </font>
    </td>
  </tr>
</table>
<br>

<table width="100%" border="2" cellpadding="10" cellspacing="0"
       bordercolor="#996600" bgcolor="#fff8e8">
  <tr bgcolor="#996600">
    <td>
      <font face="Arial" color="#ffffff" size="2">
        <b>&#128196;&nbsp; COUNTY SERVICES DIRECTORY &mdash; NOVEMBER 2024</b>
      </font>
    </td>
  </tr>
  <tr>
    <td>
      <font face="Arial" size="2">
        The Templeton County Services Directory for <b>November 2024</b> is available
        for download below.<br><br>

        <table border="1" cellpadding="8" cellspacing="0" bordercolor="#996600" width="90%">
          <tr bgcolor="#996600">
            <td width="60%">
              <font face="Arial" color="#ffffff" size="2"><b>Document</b></font>
            </td>
            <td width="20%" align="center">
              <font face="Arial" color="#ffffff" size="2"><b>Format</b></font>
            </td>
            <td width="20%" align="center">
              <font face="Arial" color="#ffffff" size="2"><b>Size</b></font>
            </td>
          </tr>
          <tr bgcolor="#fffff0">
            <td>
              <font face="Arial" size="2">
                <b>
                  <a href="http://templetoncounty.gov/documents/county-services-2024-11.pdf">
                    County Services Directory &mdash; November 2024
                  </a>
                </b>
                <br>
                <font size="1" color="#666666">
                  Complete listing of Templeton County programs and services as of November 2024.
                </font>
              </font>
            </td>
            <td align="center">
              <font face="Arial" size="2">PDF</font>
            </td>
            <td align="center">
              <font face="Arial" size="2">1.3 MB</font>
            </td>
          </tr>
        </table>

        <br>
        <font size="1" color="#cc6600">
          <b>&#9888; Note:</b> A newer edition of the County Services Directory was published
          in March 2026. For current information please refer to the
          <a href="{{ link('/departments/services/directory') }}">current directory</a>.
        </font>
      </font>
    </td>
  </tr>
</table>

<br>
<hr size="1" color="#999999" noshade>
<font face="Arial" size="1" color="#888888">
  <i>Community Services Dept. &mdash; services@templetoncounty.gov &mdash; Last updated: November 2024</i>
</font>
{% endblock %}
