{% extends "base.html" %}

{% block title %}Assessor's Office Contact — Templeton County{% endblock %}

{% block content %}
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td bgcolor="#003366" width="5">&nbsp;</td>
    <td bgcolor="#003366">
      <font face="Times New Roman, Times, serif" color="#ffcc00" size="5">
        &nbsp;<b>Assessor's Office &mdash; Direct Contact</b>
      </font>
    </td>
    <td bgcolor="#003366" align="right">
      <font face="Arial" color="#99aacc" size="1">
        &nbsp;Home&nbsp;&gt;&nbsp;Directory&nbsp;&gt;&nbsp;Assessor&nbsp;&nbsp;
      </font>
    </td>
  </tr>
</table>
<br>

<table width="75%" border="2" cellpadding="12" cellspacing="0" bordercolor="#336699">
  <tr bgcolor="#003366">
    <td colspan="2">
      <font face="Arial" color="#ffffff" size="2">
        <b>&#128222;&nbsp; COUNTY ASSESSOR &mdash; DIRECT CONTACT LINE</b>
      </font>
    </td>
  </tr>

  <tr bgcolor="#e8f0ff">
    <td width="35%">
      <font face="Arial" size="2"><b>County Assessor:</b></font>
    </td>
    <td>
      <font face="Arial" size="2">Thomas R. Delgado</font>
    </td>
  </tr>
  <tr bgcolor="#ffffff">
    <td>
      <font face="Arial" size="2"><b>Direct Phone:</b></font>
    </td>
    <td>
      <font face="Courier New, monospace" size="3"><b>(555) 917&#8209;8800</b></font>
    </td>
  </tr>
  <tr bgcolor="#e8f0ff">
    <td>
      <font face="Arial" size="2"><b>Office Phone:</b></font>
    </td>
    <td>
      <font face="Arial" size="2">(555) 800-9900 (main switchboard)</font>
    </td>
  </tr>
  <tr bgcolor="#ffffff">
    <td>
      <font face="Arial" size="2"><b>Email:</b></font>
    </td>
    <td>
      <font face="Arial" size="2">
        <a href="mailto:assessor@templetoncounty.gov">assessor@templetoncounty.gov</a>
      </font>
    </td>
  </tr>
  <tr bgcolor="#e8f0ff">
    <td>
      <font face="Arial" size="2"><b>Location:</b></font>
    </td>
    <td>
      <font face="Arial" size="2">
        1234 County Center Drive, Suite 400<br>
        Templeton, CA 93465
      </font>
    </td>
  </tr>
  <tr bgcolor="#ffffff">
    <td>
      <font face="Arial" size="2"><b>Hours:</b></font>
    </td>
    <td>
      <font face="Arial" size="2">Monday &ndash; Friday, 8:00 AM &ndash; 5:00 PM</font>
    </td>
  </tr>
</table>

<br>
<font face="Arial" size="2">
  <a href="{{ link('/directory/officials') }}">&laquo; Back to Elected Officials</a>
</font>

<br><br>
<hr size="1" color="#999999" noshade>
<font face="Arial" size="1" color="#888888">
  <i>County Directory &mdash; webmaster@templetoncounty.gov</i>
</font>
{% endblock %}
